extends ../layouts/default

block vars
  -
    const page = {
      title: 'Заявка на медиацию',
      order: 0
    };

    const FIELDS_1 = [
      {hint: 'ФИО стороны-заявителя', type: 'text', name: 'applicant-name', js: '__js_side-name'},
      {hint: 'ФИО представителя стороны-заявителя', type: 'text', name: 'representative-applicant-name', js: '__js_agent'},
      {hint: 'ИНН стороны-заявителя', type: 'number', name: 'applicant-tax-number', js: '__js_tax-num'},
      {hint: 'Контактный телефон стороны-заявителя', type: 'tel', name: 'applicant-phone'},
      {hint: 'Email стороны-заявителя', type: 'email', name: 'applicant-email'},
      {hint: 'Название юридического лица', type: 'text', name: 'applicant-company', js: '__js_side-company'}
    ];

    const FIELDS_2 = [
      {hint: 'ФИО стороны-котрагента', type: 'text', name: 'counterparty-name', js: '__js_side-name'},
      {hint: 'ФИО представителя стороны-котрагента', type: 'text', name: 'representative-counterparty-name', js: '__js_agent'},
      {hint: 'ИНН стороны-котрагента', type: 'number', name: 'counterparty-tax-number', js: '__js_tax-num'},
      {hint: 'Контактный телефон стороны-котрагента', type: 'tel', name: 'counterparty-phone'},
      {hint: 'Email стороны-котрагента', type: 'email', name: 'counterparty-email'},
      {hint: 'Название юридического лица', type: 'text', name: 'counterparty-company', js: '__js_side-company'}
    ];

block main
  .inner-page
    .inner-page__container.container
      h1.inner-page__title.title.title--green.title--upper= page.title
    section.inner-page__application.application.application__order.application__order--v130524



      .order-type-selection
        .container
          .ots-block
            .ots-block__title Выберите тип заявки
            .ots-block__radios
              //код генерируется в cf7
              span.wpcf7-form-control-wrap.order-type
                span.wpcf7-form-control.wpcf7-radio.ots-radios.__js_order-type
                  span.wpcf7-list-item.first
                    label
                      input(type='radio' name='order-type' value='Медиация' checked='checked')
                      span.wpcf7-list-item-label Медиация
                  span.wpcf7-list-item
                    label
                      input(type='radio' name='order-type' value='Переговоры')
                      span.wpcf7-list-item-label Переговоры
                  span.wpcf7-list-item
                    label
                      input(type='radio' name='order-type' value='Партнерская сессия')
                      span.wpcf7-list-item-label Партнерская сессия
                  span.wpcf7-list-item.last
                    label
                      input(type='radio' name='order-type' value='Конфликтологическое консультирование')
                      span.wpcf7-list-item-label Конфликтологическое консультирование



      .application__container.container
        form.application__form#orderForm(action="https://echo.htmlacademy.ru", method="post")

          .application__section
            +title('Информация о медиации', 'div', 'application__title title--green title--upper title--size-xs __js-application-section--show--only-med')
            +title('ОБЩАЯ ИНФОРМАЦИЯ ', 'div', 'application__title title--green title--upper title--size-xs __js-application-section--show--only-no-med')
            //-.application__title Информация о медиации
            .application__row
              label.field.application__field.application__field--size-third.application__field--size-mdfull.__js-application-section--show--only-med
                span.field__hint Вид медиации
                select.field__input.__js_select.__js_mediation-type(name="mediation-type")
                  each item, index in ['Урегулирование спора', 'Создание договоренностей']
                    //option(value= index + 1)= item
                    option(value=item)= item
              label.field.application__field.application__field--size-two-thirds.__js-application-section--hide--only-partners
                span.field__hint Сфера отношений
                select.field__input.__js_select.__js_select-business-area(name="business-area")
                  //each item, index in ['Медиация корпоративных конфликтов', 'Медиация в сфере строительства и недвижимости', 'Медиация в сфере ритейла и FMCG', 'Медиация в сфере HoReCa и туризма', 'Медиация в банковской сфере', 'Медиация в сфере страховования', 'Медиация в сфере интеллектуальной собственности', 'Медиация в сфере несостоятельности и банкротства', 'Медиация конфликта с государственным органом', 'Иное' ]
                    option(value= index + 1)= item

                  each item, index in ["Корпоративная", "Трудовая", "Семейная", "Наследственная", "Строительство и недвижимость", "Ритейл и fmcg", "Horeca и туризм", "Банковская", "Защита прав потребителей", "Страхование", "Интеллектуальная собственность", "Несостоятельность и банкротство", "Административная", "Здравоохранение", "Образование", "Иное"]
                    option(value= index + 1)= item



              label.field.application__field.__js-application-section--show--only-med
                span.field__hint Какие меры по урегулированию спора предпринимались ранее?
                select.field__input.__js_measures(name="settlement-measures", multiple)
                  each item, index in ['Переговоры', 'Направлена претензия', 'Спор находится в суде', 'Не предпринимались']
                    if index === 3
                      option(value= index + 1, selected)= item
                    else
                      option(value= index + 1, )= item

              label.field.application__field.__js-application-section--show--only-med
                span.field__hint Наличие у сторон соглашения о применении процедуры медиации/медиативной оговорки в договоре
                select.field__input.__js_select(name="settlement-measures-process")
                  each item, index in ['Да', 'Нет']
                    option(value=item)= item

              label.field.application__field
                span.field__hint Сфера бизнеса
                input.field__input.required.__js_business-area-text-field(type='text' name='business-area-text')


          .application__section
            +title('Информация о стороне-заявителе', 'div', 'application__title title--green title--upper title--size-xs')
            //-.application__title Информация о стороне-заявителе
            .application__row
              label.field.application__field.application__field--size-third.application__field--size-mdfull
                span.field__hint Сторона-заявитель
                select.field__input.__js_select.__js_legal-status(name="applicant")
                  each item in ['Юридическое лицо', 'ИП', 'Физическое лицо']
                    option(value= item)= item
            .application__row
              each item in FIELDS_1
                - const js1 = item.js || '';
                label.field.application__field.application__field--size-third(class= js1)
                  span.field__hint= item.hint
                  input.field__input.required(type= item.type, name= item.name)

          .application__section
            +title('Информация о стороне-контрагенте', 'div', 'application__title title--green title--upper title--size-xs')
            //-.application__title Информация о стороне-контрагенте
            .application__row
              label.field.application__field.application__field--size-third.application__field--size-mdfull
                span.field__hint Количество сторон-контрагентов
                select.field__input.__js_select.__js_sides-count(name="sides-number")
                  each item, index in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
                    if index === 1
                      option(value= index + 1, selected)= item
                    else
                      option(value= index + 1)= item
            each item, index in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
              -let hiddenClass = index > 1 ? 'hidden' : '';
              .application__group.application__sides-group(class= hiddenClass)
                .application__row
                  label.field.application__field.application__field--size-third
                    span.field__hint= 'Сторона-контрагент ' + (index+1)
                    select.field__input.__js_select.__js_legal-status.required(name= "counterparty-" + (index+1))
                      each item in ['Юридическое лицо', 'ИП', 'Физическое лицо']
                        option(value= item)= item

                  label.field.application__field.application__field--size-third
                    span.field__hint Согласие на участие в процедуре медиации
                    select.field__input.__js_select.required.__js_consent-select-item(name= "mediation-consent-" + (index+1))
                      each item, index in ['Согласна', 'Не обсуждали эту возможность', 'Не согласна']
                        option(value= index + 1)= item
                //
                  для .field 'Контактный телефон стороны-котрагента' на бэке добавляю:  class="__js-skip-validation-if-order-type" data-order-types-for-skip-validation="Медиация"



                .application__row
                  each item in FIELDS_2
                    - const js2 = item.js || '';
                    label.field.application__field.application__field--size-third(class= js2)
                      span.field__hint= item.hint
                      input.field__input.required(type= item.type, name= item.name + '-' + (index+1))

          .application__bottom
            .application__checkbox.custom-checkbox.application__consent
              input.visually-hidden#applicationConsent(type="checkbox", name="consent")
              label.custom-checkbox__label(for="applicationConsent") Я ознакомлен(а) с <a href="#">«Политикой конфиденциальности»</a> и даю <a href="#">«Согласие на обработку персональных данных»</a>
            .button-wrapper
              +button('Отправить заявку на медиацию', 'application__send')(type="submit")